<section data-ng-controller="ArticlesController" data-ng-init="findDownload()">
    <style type="text/css" class="">
        body {
            padding-left: 0;
            padding-right: 0;
        }
        .container-fluid .heading {
            font-size: 50px;
            text-align: center;
        }
        .container-fluid .well p {
            text-align: center;
        }
        .container-fluid .row-fluid {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .footer {
            text-align: center;
        }
        .centered {
            text-align: center;
            block: inline;
        }
        .floated {
            display: inline;
        }
        .center-form { display:block ; width:165px ; margin:auto ; text-align: center;}
    </style>
    <div class="container-fluid">
         <h1 class="heading">{{article.title}}</h1>

        <div class="well">
            <p class="">{{article.content}}</p>
            <p class="">Price: {{article.price | currency}}</p>
        </div>
        <div class="centered">
            <div class="form-group">
                <label class="col-md-2 control-label">*Your Email:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="email" placeholder="Must be the same as your paypal if paying that way!"
                    required="true">
                </div>
                <br class="">
                <br class="">
                <p>*This is the email where the download wil be sent upon purchase. It MUST match your paypal email if thats how you are paying.</p>
            </div>

        <div class="center-form" contenteditable="false">
           <center>
  <table><tr>
    
    <td>
    <button class="btn btn-vk floated" ng-disable="!{{email}}" ng-show="article.paypal" ng-click="payWithPaypal()"
        contenteditable="false">Pay with Paypal</button>
    </td>
    
     <td>
       <form ng-show="article.bitcoin" action="/pay/bitcoin" method="post" class="">
        <input ng-hide="true" name="artId" value="{{currentDownload}}" class="">
        <input ng-hide="true" name="email" value="{{email}}" class="">
        <input class="btn btn-github floated" type="submit" value="Pay with Bitcoin">
    </form>
    </td>
    
    </tr>
  
  </table>
  </center>
</div>
        </div>
        <br class="">
        <div ng-show="procPayment" class="alert alert-info centered" style="display: none;">Processing... Please do not close or refresh the page! -Thanks</div>
    </div>
</section>