<section data-ng-controller="ArticlesController" data-ng-init="findDownload()">

<style type="text/css"> 
  body {
   padding-left: 0;
   padding-right: 0;
 }
 .container-fluid .heading {
   font-size: 50px;
   text-align: center;
 }
 .container-fluid .well p {
   text-align: center;
 }
 .container-fluid .row-fluid {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
 }
 .footer{
  text-align: center;
 }
 .centered{
  text-align: center;
 }
</style>

    <div class="container-fluid">
      <h1 class="heading">{{article.title}}</h1>
      <div class="well">
        <p>{{article.content}}</p>
      </div>
      <div class="row-fluid">
        <span class="span6">
          <button class="btn btn-vk" ng-show="article.paypal" ng-click="payWithPaypal()">Pay with Paypal</button><button class="btn btn-github" ng-show="article.bitcoin" ng-click="paywithBitcoin()">Pay with Bitcoin</button>
        </span>
      </div> <br />
      <div ng-show="procPayment" class="alert alert-info centered">
                Processing... Please do not close or refresh the page! -Thanks
          </div>
    </div>

<footer class="footer">Sell Digital Goods Online @ Soldfy.com</footer>

</section>